<!DOCTYPE html>

<html lang="en">

<head>

<title>Amazon</title>
<link rel="stylesheet" href="/style.css">

<style>

body {
  margin: 0;
  font-family: Amazon ember;
  background-color: #e3e6e6;
}

.topnav {
  overflow: hidden;
  background-color: #131921;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: white;
  border: 1px white solid;
}

.topnav a.active {
  color: white;
}

.topnav input[type=text] {
  float: left;
  padding: 6px;
  margin-top: 8px;
  border: none;
  font-size: 17px;
  width: 900px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

 .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

.mySlides {display:none;
}


#right{
float: right;
}

/*.btn{
  float: right;
}*/

.secnav {
  overflow: hidden;
  background-color: #232f3e;
}

.secnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 15px;
}

.secnav a:hover {
  color: white;
  border: 1px white solid;
}



caption{
caption-side:bottom;
}

.container{
height: 450px;
background-color:white;
padding: 15px;
margin-right:55px;
margin-left:4px;
margin-top:-250px;
width:300px;
position:relative;
float: left;
}

li{
list-style:none;
margin-right:5px;
margin-left:10px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x:hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding:8px 8px 8px 32px ;
  text-decoration: none;
  font-size: 17px;
  color: black;
  display:1px solid black;
  transition: 0.3s;
  opacity: 0.9;
  
}

.sidebar a:hover {
 
color: black;
display: block;
border: hidden;
font-size: 18px;
background-color: lightgrey;
text-align:left;
width: 100%;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  font-weight:200;
}

.sidebar .closebtn:hover{
font-size: 37px;
}

.openbtn {
  font-size: 15px;
  cursor: pointer;
  color: white;
  border: none;
  font-family: amazon ember;
  background-color:#232f3e;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

h3{
text-align: left;
}

#medicine{
margin-left:50px;
margin-right: 50px;
}

.container-2{
height: 450px;
background-color:white;
padding: 15px;
margin:20px;
width:300px;
position:relative;
float: left;
}

.bot{
width: 100%;
background-color:#232f3e;
margin-top: 800px;
margin-bottom: 0 auto;
overflow:hidden;
color: white;
font-family: Sans-Serif;
}

footer a{
text-decoration: none;
color:white;
font-family: Sans-Serif;
margin-top: -20px;
}
.ok{
  list-style: none;
  margin-right:-10px;
margin-left:-20px;
  
}
.bottomnav{
  float:left;
}
#links{
float: left;
width: 250px;
margin: 0, auto;
overflow: hidden;
}
footer a:hover{
text-decoration: underline;
}
</style>


</head>

<body>
<div class="topnav">
  <a class="active" href="#home"><strong><em>Amazon</em></strong></a>
  <a href="#contact">Contact</a>
  <input type="text" placeholder="Search Amazon.in">
  <a href="/login" id="right"> Login</a>
  <a href="#cart" id="right">Cart<a>
</div>

<div class="secnav">
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
  <a href="#"><h2><strong>Trending</strong></h2></a><br>
  <a href="/elec">Best Sellers</a><br>
  <a href="/hotnew">New Releases</a><br>
  <a href="#">Movers and Shakers</a><br>
  <a href="#"><h2><strong>Digital Content And Devices</strong></h2></a><br>
  <a href="#">Fire TV</a><br>
  <a href="#">Audible Audiobooks</a><br>
  <a href="#"><h2><strong>Contact Us</strong></h2></a><br>
  <a href="#">Contact</a><br>
  <a href="#">Clients</a>
</div>
  <a href="#"><button class="openbtn" onclick="openNav()">☰ All</button></a>  
  <a href="/elec">Best Seller</a>
  <a href="#deals">Today's Deals</a>
  <a href="/hotnew">New Releases</a>
  <a href="#service">Customer Service</a>
  <a href="#home">Home and Kitchen</a>
  <a href="/donate">Donate to Charity</a>
</div>

<div class="w3-content w3-section" style="max-width:cover">
 <a href="#"> <img class="mySlides" src="images/amazon1.jpg" style="width:100%"></a>
 <a href="#"> <img class="mySlides" src="images/amazon2.jpg" style="width:100%"></a>
 <a href="#"> <img class="mySlides" src="images/amazon3.jpg" style="width:100%"></a>
 <a href="#"> <img class="mySlides" src="images/amazon4.jpg" style="width:100%"></a>
 <a href="#"> <img class="mySlides" src="images/amazon5.jpg" style="width:100%"></a>
 <a href="#"> <img class="mySlides" src="images/amazon6.jpg" style="width:100%"></a>
 <a href="#"> <img class="mySlides" src="images/amazon7.jpg" style="width:100%"></a>
</div>
<ul>
<li><div class="container" id="watch">
<h2>Bluetooth Calling Smartwatch<br>starts at ₹1,999 </h2>
<img src="images/amazoncontent1.jpg" style="width:300px; height:300px;">
<br><br><caption><a href="#">Show more</a></caption>
</div></li>
<li><div class="container" id="medicine">
<h2>Amazon Pharmacy | Up to 30% off on medicines</h2>
<img src="images/amazoncontent2.jpg" style="width:300px; height:300px;">
<br><br><caption><a href="#">Visit the store</a></caption>
</div></li>
<li><div class="container" id="clearsale">
<h2>Up to 70% off | Clearance store</h2>
<img src="images/amazoncontent3.jpg" style="width:300px; height:300px;">
<br><br><caption><a href="#">See more</a></caption>
</div></li>
</ul>
<ul>
<li><div class="container-2" id="clearsale">
<h2>Up to 60% off | Styles for women</h2>
<img src="images/amazoncontent4.jpg" style="width:300px; height:300px;">
<br><br><caption><a href="#">See more</a></caption>
</div></li>
<li><div class="container-2" id="medicine">
<h2>Automotive essentials | Up to 60% off</h2>
<img src="images/amazoncontent5.jpg" style="width:300px; height:300px;">
<br><br><caption><a href="#">See more</a></caption>
</div></li>
<li><div class="container-2" id="clearsale">
<h2>Revamp your home in style</h2>
<img src="images/amazoncontent6.jpg" style="width:300px; height:300px;">
<br><br><caption><a href="#">See more</a></caption>
</div></li>
</ul>

<footer class="bot">

 <li class="ok"><div class="bottomnav">
<ul>
<ul id="links">
<li><h3>Get to Know Us</h3><li>
<li><a href="#">About Us</a></li><br>
<li><a href="#">Careers</a></li><br>
<li><a href="#">Press Releases</a></li><br>
<li><a href="#">Amazon Science</a></li><br>
</ul>
<ul id="links">
<li><h3>Connect With Us</h3></li>
<li><a href="#">Facebook</a></li><br>
<li><a href="#">Instagram</a></li><br>
<li><a href="#">Twitter</a></li><br>
</ul>
<ul id="links">
<li><h3>Make Money With Us</h3></li>
<li><a href="#">Sell on Amazon</a></li><br>
<li><a href="#">Sell under Amazon Accelerator</a></li><br>
<li><a href="#">Amazon Global Selling</a></li><br>
<li><a href="#">Fulfilment by Amazon</a></li><br>
</ul>
<ul id="links">
<li><h3>Let Us Help You</h3></li>
<li><a href="#">COVID-19 and Amazon</a></li><br>
<li><a href="#">Your Account</a></li><br>
<li><a href="#">Returns Centre</a></li><br>
<li><a href="#">100% Purchase Protection</a></li><br>
<li><a href="#">Amazon App Download</a></li><br>
<li><a href="#">Help</a></li><br>
</ul>
</ul>
 </li>
</div>
</footer>
<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 3000); // Change image every 3 seconds
}

function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
</body>
</html>