<!DOCTYPE html>
<html lang="en">
<head>
<title>Sign Up</title>
<style>
form{
max-width:300px;
margin: 0 auto;
padding: 21px;
border: 1px solid #ccc;
border-radius: 5px;
text-align: left;
}


label,
input {
	display:block;
	margin-bottom:8px;
	text-align: left;
}
input[type="submit"]{
color: black;
background-color: #fdc323;
font-family: sans-serif;
padding: 5px 20px;
border-radius: 5px;
cursor: pointer;
border: 0.1px solid white;
width: 100%;
text-align: center;
}
h2{
text-align:center;
}
.container{
height: 450px;
background-color:white;
padding: 15px;
margin:20px;
width:300px;
position:relative;
float: left;
border:1px solid black;
color:black;
}
caption{
caption-side:bottom;
text-align:center;
}
#subscription{
list-style:none;
margin-right:5px;
margin-left:10px;
}
#gold{
color:#edab37;
}

#subbtn a{
text-decoration:none;
}
#platinum{
color:grey;
}
#watch{
margin-right: 100px;
margin-left:100px;
}
#plat{
margin-left: 150px;
margin-right: 100px;}
</style>
</head>
<body>
<h2><strong>Amazon</strong>.in</h2><br>
<form action="/register" method="post">
<h1>Create Account </h1>

<label for="name">Name</label><br>
<input type="text" id="name" name="name"  required><br>

<label for="email">Email</label><br>
<input type="email" id="email" name="email" required><br>
<label for="password">Password</label><br>
<input type="password" id="password" name="password"  required><br>
<p>To verify your email, we will send you a text message with a temporary code. Message and data rates may apply.</p><br><br>
<a href="/">  <button type="submit">Continue</button></a>
  
</form><br>
<hr>
<h2>Try Our Subscription Plans</h2>
<ul>
<li id="subscription"><div class="container" id="watch">
<h2 id="gold">GOLD</h2><br><br><hr><br>
<ul>
<li>Better deals</li><br><br>
<li>Exclusive Discounts</li><br><br>
<li>Scheduling Your Delivery</li><br><br><br><br><br>
</ul>
<br><br><input type="submit" value="For just Rs.499 for 6 months" id="subbtn">
</div></li>
<ul>
<li id="subscription"><div class="container" id="plat">
<h2 id="platinum">PLATINUM</h2><br><br><hr><br>
<ul>
<li>Better deals</li><br>
<li>Exclusive Discounts</li><br>
<li>Scheduling Your Delivery</li><br>
<li>Exclusive Coupons</li><br>
<li>Early access to sales</li><br>
<li>Free Shipping</li><br>
</ul>
<br><br><input type="submit" value="For just Rs.1000 per year" id="subbtn">
</div></li>
</ul>
</body>
</html>