<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
</head>
<body>
    <h1>Wrong E-mail or Password</h1>
    <p>Please register again!</p><br><br>
    <a href="/get"><h3>Logout</h3></a>

</body>
</html>